-# app/views/followed_users/index.html.haml
= turbo_frame_tag 'profile_content' do
  %h2 Users You Follow
  %ul
    - @followed_users.each do |user|
      %li
        = link_to user.profile.username, profile_path(user), data: { turbo_frame: "profile_content" }
