-# .container
-#   .header
-#     %h1 Posts
-#     =render "/posts/shared/new_post"
-#   -#not necessary anymore?
-#   -# = turbo_frame_tag Post.new
-#   = turbo_frame_tag "posts" do
-#     = render @posts
.container
  .header
    %h1 Posts
    = render "/posts/shared/new_post"

  = turbo_frame_tag "posts" do
    = render @posts

  - if @posts.next_page
    %div{ data: { controller: "load-more", load_more_list_id_value: "posts", load_more_url_value: cliq_path(@cliq) } }
      = link_to 'Load more posts...', cliq_path(@cliq, page: @posts.next_page), data: { turbo_frame: 'posts' }, rel: 'next', class: "btn btn--light"
