%nav.navbar
  - @categories.each do |cliq|
    %li.nav-item
      = link_to cliq.name, cliq_path(cliq), class: "nav-link active", 'aria-current': "page", 'data-turbo-frame': "main_content", 'data-turbo-action': "advance"