-# =turbo_frame_tag_ "posts"
-#   = turbo_frame_tag post do
-#     .cliq
-#       = link_to post.cliq.name, cliq_path(post.cliq), 'data-turbo-frame': 'main_content','data-turbo-action': 'advance'
-#       = link_to post.title, post_id_slug_post_path(post_id: post.id, slug: post.slug),
-#         data: { turbo_frame: "main_content", turbo_action: 'advance'}
-#       .cliq__actions
-# = turbo_frame_tag "posts" do
-#   = turbo_frame_tag post do
-#     .cliq
-#       = link_to post.cliq.name, cliq_path(post.cliq), data: { turbo_frame: 'main_content', turbo_action: 'advance' }
-#       = link_to post.title, post_id_slug_post_path(post_id: post.id, slug: post.slug), data: { turbo_frame: 'main_content', turbo_action: 'advance' }
-#       .cliq__actions

= turbo_frame_tag dom_id(post) do
  .cliq
    = link_to post.cliq.name, cliq_path(post.cliq), data: { turbo_frame: 'main_content', turbo_action: 'advance' }
    = link_to post.title, post_id_slug_post_path(post_id: post.id, slug: post.slug), data: { turbo_frame: 'main_content', turbo_action: 'advance' }
    .cliq__actions