// app/assets/stylesheets/components/_cliq.scss

.cliq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
  }
}

.cliq-info-bar {
  position: sticky;
  top: 0; /* Sticks to the top of the viewport */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enables scrolling inside if content exceeds height */
  background-color: #f8f9fa; /* Optional: Add a light background */
  padding: 1rem; /* Optional: Add padding for better spacing */
  border-right: 1px solid #dee2e6; /* Optional: Add a border to separate visually */
}
