/* app/assets/stylesheets/cliq_search.css */
#cliq-search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

#cliq-search-results li {
  padding: 10px;
  cursor: pointer;
}
.cliq-dropdown-menu {
  max-width: 300px;

}

.cliq-results {
  max-width: 200px;
}

#cliq-search-results li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Bootstrap hover color */
}
