-# #pager.min-w-full.my-8.flex.justify-center
-#   %div
-#     - if pagy.next
-#       = link_to "Load more cards",
-#         cliqs_path(page: pagy.next),
-#         class: "",
-#         data: {turbo_stream: " ", controller: "autoclick"}

#pager.min-w-full.my-8.flex.justify-center
  - if pagy.next
    - if cliq
      = link_to "Load more posts",
        cliq_path(cliq, page: pagy.next),
        class: "",
        data: { turbo_stream: " ", controller: "autoclick", "autoclick-has-next-page": "true" }
    - else
      = link_to "Load more posts",
        cliqs_path(page: pagy.next),
        class: "",
        data: { turbo_stream: " ", controller: "autoclick", "autoclick-has-next-page": "true" }
  - else
    .no-more-posts.text-center.py-4
      No more posts to load.
