#cliq-search-container
  = form_with model: Cliq.new, url: search_cliqs_path, method: :post, class: "d-flex", role: "search", data: {controller: "search", turbo_frame: "cliq-search-results"} do |form|
    = form.text_field :name, placeholder: "Search", type: "search", "aria-label": "Search", autocomplete: "off", class: "form-control me-2", data: {search_target: "input", action: "input->search#search"}
  %turbo-frame#cliq-search-results