#cliq-search-container(data-controller="search")
  = form_with model: Cliq.new, url: search_cliqs_path, method: :post, class: "d-flex", role: "search", data: { turbo_frame: "cliq-search-results" } do |form|
    = form.text_field :name,
                      placeholder: "Search",
                      type: "search",
                      "aria-label": "Search",
                      autocomplete: "off",
                      class: "form-control me-2",
                      data: {search_target: "input", action: "input->search#search focus->search#showDropdown blur->search#hideDropdown"}
  %turbo-frame#cliq-search-results
    %div.dropdown-menu.cliq-dropdown-menu(data-search-target="dropdown")
      - if @cliqs.any?
        - @cliqs.each do |cliq|
          = link_to cliq.name, cliq_path(cliq), class: "dropdown-item cliq-result", data: { action: "click->search#clearFormAndHideDropdown", turbo_frame: "main_content", turbo_action: "advance" }
      - else
        No Results
