=turbo_frame_tag "main_content" do
  .cliq-info 
    %h1
      =@cliq.name
  .categories 
    =render "posts_header"
  .posts
    =render "posts"
  .pagination
    = render "pager", pagy: @pagy, cliq: @cliq