= turbo_frame_tag "main_content" do
  .container-fluid
    .row
      .col-lg-3.col-md-4.d-none.d-md-block.cliq-info-bar
        =render "cliq_breadcrumbs"

      .col-lg-9.col-md-8.posts-info
        .categories
          = render "posts_header"
        .posts
          = render "posts"
        .pagination
          = render "pager", pagy: @pagy, cliq: @cliq
